body{
	background-image: url("bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
	background-color: #63639c;
	font-family: helvetica;
	background-size: 1100px 800px;
}

h1 {
	font-family: garamond;
}

a:link, a:visited {
  border-radius: 5px;
  background-color: #006699;
  color: white;
  border: 2px solid #ffffff;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
  color: #006699;
  border: 2px solid #006699;
}
